{% extends "adminlte_full/base.html" %}
{% import "adminlte_full/macros/widgets.html" as widgets %}

{% macro palette_set(title, color, hex, light=false) %}
  <h4 class="text-center{% if light %} bg-light{% endif %}">{{ title }}</h4>
  <div class="color-palette-set">
    <div class="bg-{{ color }} color-palette"><span>{{ hex }}</span></div>
    <div class="bg-{{ color }} disabled color-palette"><span>Disabled</span></div>
  </div>
{% endmacro %}

{% block page_title %}General UI{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  {{ bootstrap.breadcrumb(title='Twitter', icon='fab fa-twitter', url='https://twitter.com') }}
  {{ bootstrap.breadcrumb(title='Log in', url=adminlte.create_url(config.ADMINLTE_LOGIN_ENDPOINT)) }}
  {{ bootstrap.breadcrumb(title='&#127932;', url=adminlte.create_url(config.ADMINLTE_LOGIN_ENDPOINT)) }}
  {% call bootstrap.breadcrumb() %}
    <a href="#">
      <img src="http://latex.codecogs.com/gif.latex?1+sin(x)" border="0">
    </a>
  {% endcall %}
{% endblock breadcrumbs %}

{% block page_content %}
  {% call widgets.render_card('Color Palette', card_class='color-palette-box') %}
    <div class="card-body">
      <div class="col-12">
        <h5>THEME_COLOR (Theme Colors)</h5>
      </div>
      <div class="row">
        <div class="col-sm-4 col-md-2">{{ palette_set('PRIMARY', ThemeColor.PRIMARY, '#007bff') }}</div>
        <div class="col-sm-4 col-md-2">{{ palette_set('SECONDARY', ThemeColor.SECONDARY, '#6c757d') }}</div>
        <div class="col-sm-4 col-md-2">{{ palette_set('INFO', ThemeColor.INFO, '#17a2b8') }}</div>
        <div class="col-sm-4 col-md-2">{{ palette_set('SUCCESS', ThemeColor.SUCCESS, '#28a745') }}</div>
        <div class="col-sm-4 col-md-2">{{ palette_set('WARNING', ThemeColor.WARNING, '#ffc107') }}</div>
        <div class="col-sm-4 col-md-2">{{ palette_set('DANGER', ThemeColor.DANGER, '#dc3545') }}</div>
      </div>
      <div class="col-12">
        <h5 class="mt-3">Black/White Nuances</h5>
      </div>
      <div class="row">
        <div class="col-sm-4 col-md-2">{{ palette_set('BLACK', ThemeColor.BLACK, '#000000') }}</div>
        <div class="col-sm-4 col-md-2">{{ palette_set('GRAY_DARK', ThemeColor.GRAY_DARK, '#343a40') }}</div>
        <div class="col-sm-4 col-md-2">{{ palette_set('GRAY', ThemeColor.GRAY, '#adb5bd') }}</div>
        <div class="col-sm-4 col-md-2">{{ palette_set('LIGHT', ThemeColor.LIGHT, '#1f2d3d', light=true) }}</div>
      </div>
      <div class="col-12">
        <h5 class="mt-3">Colors</h5>
      </div>
      <div class="row">
        <div class="col-sm-4 col-md-2">{{ palette_set('INDIGO', ThemeColor.INDIGO, '#6610f2') }}</div>
        <div class="col-sm-4 col-md-2">{{ palette_set('LIGHTBLUE', ThemeColor.LIGHTBLUE, '#3c8dbc') }}</div>
        <div class="col-sm-4 col-md-2">{{ palette_set('NAVY', ThemeColor.NAVY, '#001f3f') }}</div>
        <div class="col-sm-4 col-md-2">{{ palette_set('PURPLE', ThemeColor.PURPLE, '#605ca8') }}</div>
        <div class="col-sm-4 col-md-2">{{ palette_set('FUCHSIA', ThemeColor.FUCHSIA, '#f012be') }}</div>
        <div class="col-sm-4 col-md-2">{{ palette_set('PINK', ThemeColor.PINK, '#e83e8c') }}</div>
        <div class="col-sm-4 col-md-2">{{ palette_set('MAROON', ThemeColor.MAROON, '#d81b60') }}</div>
        <div class="col-sm-4 col-md-2">{{ palette_set('ORANGE', ThemeColor.ORANGE, '#ff851b') }}</div>
        <div class="col-sm-4 col-md-2">{{ palette_set('LIME', ThemeColor.LIME, '#01ff70') }}</div>
        <div class="col-sm-4 col-md-2">{{ palette_set('TEAL', ThemeColor.TEAL, '#39cccc') }}</div>
        <div class="col-sm-4 col-md-2">{{ palette_set('OLIVE', ThemeColor.OLIVE, '#3d9970') }}</div>
      </div>
    </div>
  {% endcall %}
{% endblock %}


{% block styles_inline %}
  .color-palette {
    height: 35px;
    line-height: 35px;
    text-align: right;
    padding-right: .75rem;
  }

  .color-palette.disabled {
    text-align: center;
    padding-right: 0;
    display: block;
  }

  .color-palette-set {
    margin-bottom: 15px;
  }

  .color-palette span {
    display: none;
    font-size: 12px;
  }

  .color-palette:hover span {
    display: block;
  }

  .color-palette.disabled span {
    display: block;
    text-align: left;
    padding-left: .75rem;
  }

  .color-palette-box h4 {
    position: absolute;
    left: 1.25rem;
    margin-top: .75rem;
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    display: block;
    z-index: 7;
  }
{% endblock styles_inline %}