{% extends "adminlte_full/base.html" %}
{% import 'adminlte_full/macros/markup.html' as html %}
{% import 'adminlte_full/macros/bootstrap4.html' as bootstrap %}

{% block breadcrumb %}
  {{ bootstrap.breadcrumb(title='Home', url=adminlte.create_url('index'), icon='fas fa-home') }}
  {#
  {{ bootstrap.breadcrumb(title='Log in', icon='fab fa-twitter', url='https://twitter.com') }}
  {{ bootstrap.breadcrumb(title='Log in', url=adminlte.create_url(config.ADMINLTE_LOGIN_ENDPOINT)) }}
  {{ bootstrap.breadcrumb(title='&#127932;', url=adminlte.create_url(config.ADMINLTE_LOGIN_ENDPOINT)) }}
  {% call bootstrap.breadcrumb() %}
    <a href="#">
      <img src="http://latex.codecogs.com/gif.latex?1+sin(x)" border="0">
    </a>
  {% endcall %}
  #}
{% endblock breadcrumb %}

{% block sidebar_nav %}
  {% set menu = adminlte.get_menu('main_menu') %}
  {{ html.sidebar_menu(menu) }}
{% endblock %}


{%- block navbar_left %}
  {% set menu = adminlte.get_menu('navbar_menu') %}
  {{ html.navbar_menu(menu) }}
{% endblock navbar_left -%}

{% block second_sidebar %}
  <div class="p-3 control-sidebar-content">
    <h5>Control sidebar</h5>
  </div>
{% endblock second_sidebar %}