{% extends "adminlte_full/login.html" %}
{% import "adminlte_full/macros/bootstrap4.html" as bootstrap %}


{% block messages %}
  {% if form.non_field_errors %}
    {% for error in form.errors %}
      <p class="login-box-msg">{{ error }}</p>
    {% endfor %}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock messages %}


{% block form_fields %}
  {{ form.hidden_tag() }}
  {{ bootstrap.field(
       form.email,
       placeholder='Email',
       form_group_class='input-group mb-3',
       addon_after='<span class="fas fa-envelope"></span>'
     )
  }}
  {{ bootstrap.field(
       form.password,
       placeholder='Password',
       form_group_class='input-group mb-3',
       addon_after='<span class="fas fa-lock"></span>'
     )
  }}
{% endblock form_fields %}